/**
 * Vazirmatn Font - Local Version (Farsi Digits)
 * Source: https://github.com/rastikerdar/vazirmatn
 * License: OFL-1.1
 */

@font-face {
  font-family: 'Vazirmatn';
  src: local('Vazirmatn'),
       url('../fonts/Vazirmatn-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vazirmatn';
  src: local('Vazirmatn Medium'),
       url('../fonts/Vazirmatn-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vazirmatn';
  src: local('Vazirmatn SemiBold'),
       url('../fonts/Vazirmatn-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vazirmatn';
  src: local('Vazirmatn Bold'),
       url('../fonts/Vazirmatn-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vazirmatn';
  src: local('Vazirmatn ExtraBold'),
       url('../fonts/Vazirmatn-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vazirmatn';
  src: local('Vazirmatn Black'),
       url('../fonts/Vazirmatn-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vazirmatn';
  src: local('Vazirmatn Light'),
       url('../fonts/Vazirmatn-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vazirmatn';
  src: local('Vazirmatn Thin'),
       url('../fonts/Vazirmatn-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* Farsi Digits Support */
@font-face {
  font-family: 'Vazirmatn FD';
  src: local('Vazirmatn FD'),
       url('../fonts/Vazirmatn-FD-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vazirmatn FD';
  src: local('Vazirmatn FD Bold'),
       url('../fonts/Vazirmatn-FD-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Default Vazirmatn usage */
body, html {
  font-family: 'Vazirmatn', 'Vazirmatn FD', Tahoma, Arial, sans-serif;
}
